input {
    width: 75%;
    padding: 10px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
  }
  
  .submit-form {
    margin: 20px;
    padding: 10px;
  }
  
  .submit-button {
    font-size: 16px;
    padding: 5px;
    margin: 10px 0;
    border-radius: 5px;
  }