.nav {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 20px;
}

.nav :hover {
  color: #362003;
  cursor: pointer;
  border: 1.5px solid #362003;
}

.link-styles {
  width: 150px;
  height: 30px;
  padding: 5px;
  margin: 10px;
  background: #a87532;
  color: white;
  border: solid 1px #362003;
  border-radius: 5px;
}

.link-styles.active {
  background: #cfa267;
}